Repository jenkinsci/git-parameter-plugin, pull requests merged in 2025-03, with the labels that each got.

#147 Migrate tests to JUnit5
  src/test/java/net/uaznia/lukanus/hudson/plugins/gitparameter/BasicTests.java
  src/test/java/net/uaznia/lukanus/hudson/plugins/gitparameter/Constants.java
  src/test/java/net/uaznia/lukanus/hudson/plugins/gitparameter/GitParameterDefinitionTest.java
  src/test/java/net/uaznia/lukanus/hudson/plugins/gitparameter/RevisionInfoFactoryTest.java
  src/test/java/net/uaznia/lukanus/hudson/plugins/gitparameter/SmartNumberStringComparerTest.java
  src/test/java/net/uaznia/lukanus/hudson/plugins/gitparameter/SortTest.java
Labels: test

#150 Remove character set dependency from assertion
  src/test/java/net/uaznia/lukanus/hudson/plugins/gitparameter/GitParameterDefinitionTest.java
Labels: test

#151 [JENKINS-75462] Fix filter drop select input is out of style with other components
  src/main/resources/net/uaznia/lukanus/hudson/plugins/gitparameter/GitParameterDefinition/config.jelly
Labels: bug

#153 Enable CD
  .github/release-drafter.yml
  .github/workflows/cd.yaml
  .github/workflows/release-drafter.yml
  .mvn/maven.config
  pom.xml
Labels: enhancement
